*~
*.swp
/*.patch
/goes
/goesd-*
/linux
/DEBIAN
/debian/files
/debian/goesd*/
/debian/qemu-goes*/
/debian/goes-*/
/debian/*.*.debhelper
/debian/*.debhelper.log
/debian/*.substvars
!/debian/*.install
!/debian/*.links
!/debian/*.manpages
