*~
*.swp
/*.patch
/goes
/goesd-*
/linux
/u-boot
/debian
!/debian/changelog
!/debian/compat
!/debian/control
!/debian/copyright
!/debian/goes-bmc-armhf.install
!/debian/goesd-example.install
!/debian/goesd-example.manpages
!/debian/goesd.init
!/debian/goesd.links
!/debian/goesd.manpages
!/debian/goesd.postinst.in
!/debian/goesd.prerm.in
!/debian/qemu-goes-example-amd64.install
!/debian/qemu-goes-example-armhf.install
!/debian/qemu-goes.install
!/debian/rules
!/debian/source/format
