*~
*.swp
/*.patch
/bin
/goes-initrd
/DEBIAN
/debian/files
/debian/goesd*/
/debian/goes-initrd-*/
/debian/qemu-goes/
/debian/*.*.debhelper
/debian/*.debhelper.log
/debian/*.substvars
!/debian/*.links
!/debian/*.manpages
