#!/usr/bin/make -f

#export DH_VERBOSE := 1

ifeq (,$(DH_VERBOSE))
	Q := @
endif

goesd_variants := example

%:
	dh $@ --parallel

override_dh_installdeb:
	$(Q)for x in postinst prerm; do\
		for variant in $(goesd_variants); do\
			sed "s:#PACKAGE#:goesd-$${variant}:" \
			< debian/goesd.$${x}.in\
			> debian/goesd-$${variant}.$${x}; \
		done;\
	done
	dh_installdeb
